{% extends 'base.html.twig' %}

{% block title %}{{ 'Error' | trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="blog-post">
        <h1 class="h3">Error! Please try again!</h1>
    </div>
{% endblock %}